<mat-card class="search-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-style">
        <div class="row">
            <div class="col-md-3 text-field">Username : </div>
            <div class="col-md-7 mb-3">
                <!-- <mat-form-field appearance="outline"> -->
                <input class="form-control" placeholder="Username" #username>
                <!-- </mat-form-field> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-field">Password : </div>
            <div class="col-md-7 mb-3">
                <!-- <mat-form-field appearance="outline"> -->
                <input class="form-control" type="password" placeholder="Password" #password>
                <!-- </mat-form-field> -->
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button class="button-css" mat-raised-button style="margin-left: 5%;" (click)="register()">Sign Up</button> -->
        <button class="button-css" mat-raised-button (click)="loginUser(username.value, password.value)" style="margin-left: 33%;
            width: 257px;">Login</button><br>
    </mat-card-actions>
    <h3><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left: 50%;
    width: 257px;">Register</a></h3>
</mat-card>