<body style="background-color: #8fc4b7;">
    <form style="background-color: #8fc4b7;">
        <section class="h-100 h-custom" style="background-color: #8fc4b7;">
            <div class="container py-5 h-200">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-8 col-xl-6">
                        <div class="card rounded-3">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                                class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                                alt="Sample photo">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

                                <form class="px-md-5">

                                    <div class="form-outline mb-4">
                                        <input placeholder="Full name" type="text" id="form3Example1q"
                                            class="form-control" aria-describedby="inputGroupPrepend2" minlength="5"
                                            required />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input placeholder="EmailId" type="text" id="form3Example1q"
                                            class="form-control" aria-describedby="inputGroupPrepend2" minlength="5"
                                            required />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input placeholder="Password" type="text" id="form3Example1q"
                                            class="form-control" aria-describedby="inputGroupPrepend2" minlength="5"
                                            required />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input placeholder="PhoneNumber" type="text" id="form3Example1q"
                                            class="form-control" aria-describedby="inputGroupPrepend2" minlength="5"
                                            required />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input placeholder="Address" type="text" id="form3Example1q"
                                            class="form-control" aria-describedby="inputGroupPrepend2" minlength="5"
                                            required />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input placeholder="State" type="text" id="form3Example1q" class="form-control"
                                            aria-describedby="inputGroupPrepend2" minlength="5" required />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input placeholder="City" type="text" id="form3Example1q" class="form-control"
                                            aria-describedby="inputGroupPrepend2" minlength="5" required />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4" class="form-outline datepicker">

                                            <input type="date" placeholder="Date Of Birth" class="form-control"
                                                id="exampleDatepicker1" />
                                            <label for="exampleDatepicker1" class="form-label">Date of Birth</label>


                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <select class="select">
                                                <option value="1" disabled>Gender</option>
                                                <option value="2">Female</option>
                                                <option value="3">Male</option>
                                                <option value="4">Other</option>
                                            </select>

                                            <div><label>Gender</label></div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label>AccountType</label>
                                        <select class="select">
                                            <option value="1" disabled>AccountType</option>
                                            <option value="2">PERSONAL</option>
                                            <option value="3">SALARY</option>
                                        </select>

                                    </div>

                                    <button type="submit" class="btn btn-success btn-lg mb-1">Sign Up</button>
                                    &nbsp;
                                    <a routerLink="/login" routerLinkActive="active"
                                        ariaCurrentWhenActive="page">Login</a><br>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>