<nav class="navbar navbar-expand-lg navbar-light navbar-background">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link navbar-text"><button
                    mat-flat-button (click)="logoutUser()">Logout</button></a></li>
        <!-- <li class="nav-item"><a class="nav-link navbar-text" (click)="routeToSubscription()"><button
                    mat-flat-button>Find subscriptions by mail</button></a></li>
        <li class="nav-item" *ngIf="_authService.loggedIn()"><a class="nav-link navbar-text" routerLink="/addBook"
                routerLinkActive="active"><button mat-flat-button>Author Page</button></a></li> -->
        <!-- <li class="nav-item" *ngIf="!_authService.loggedIn()"><a class="nav-link navbar-text" routerLink="/login"
                routerLinkActive="active"><button mat-flat-button>Author Login/Signup</button></a></li> -->
        <!-- <li class="nav-item" *ngIf="_authService.loggedIn()"><a class="nav-link navbar-text"
                (click)="_authService.logoutUser()"><button mat-flat-button>Logout</button></a></li> -->
    </ul>
</nav>